{% extends 'app/base.html' %}
{% load markdown_deux_tags %}

{% block content %}
  <h1> {{ recette.name }} </h1>

  <p> {{ recette.description }} </p>

  <h2> Instructions </h2>
  <p>
    {{ recette.instructions | markdown }}
  </p>
{% endblock %}