<footer class="page-footer font-small blue pt-4">

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://blog.ewen.quimerch.com/"> Ewen Quimerc'h</a>
    <br>
    <a href="https://recettes.quimerch.com/admin">Admin</a>
</div>


</footer>